<div class="sf-slider">
    <button type="button" class="btn btn-sm pull-left sf-slider-btn-left btn-link" ng-click="options.prev()">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        <!--{{prevText}}-->
        <!--<div style="position: relative; bottom: -12px">{{prevText}}</div>-->
    </button>
    <div class="slider-holder pull-left"></div>
    <button type="button" class="btn btn-sm pull-left sf-slider-btn-right btn-link" ng-click="options.next()">
        <!--{{nextText}}-->
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
        <!--<div style="position: relative; bottom: -12px">{{nextText}}</div>-->
    </button>
</div>