.sf-slider {
  width: 100%;
  color: #000;
  margin-top: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//.sf-slider button:focus,
//.sf-slider button:visited,
//.sf-slider button:hover {
//  color: #d3d3d3;
//}
.sf-slider button:active,
.sf-slider button {
  width: 60px;
  padding: 6px 4px;
  font-size: 14px;
  margin-top: 3px;
  height: 32px;
//  border-top: solid 1px #232a32;
//  border-bottom: solid 1px #6a7179;
//  -webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
//  -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
//  box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
//  background: #67707F;
//  background: -moz-linear-gradient(top, #67707F 0%, #888DA0 100%);
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0));
}
.sf-slider button:focus{
  border: none!important;
  outline: none!important;
}

.sf-slider .sf-slider-btn-left {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.sf-slider .sf-slider-btn-right {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.sf-slider .sf-slider-btn-left i,
.sf-slider .sf-slider-btn-right i{
  font-size: 18px;
}

.sf-slider .slider-holder {
  width: ~"calc(100% - 120px)";
}

.sf-slider .ui-rangeSlider-rightArrow,
.sf-slider .ui-rangeSlider-leftArrow {
  border-radius: 0;
}

.ui-rangeSlider-innerBar {
  background-image: url("../img/chart-pattern.gif")!important;
//  background-position: bottom;
//  background-attachment: fixed;
}


//.statistic-label{
//  font-size: 16px;
//  padding: 10px;
//  width: 320px;
//  box-shadow: 4px 3px 6px #888888;
//  border: none;
//  margin: 1px;

//}

.google-visualization-tooltip-item div,
.google-visualization-tooltip-item-list .google-visualization-tooltip-item:nth-child(2){
  display: none;
}

.google-visualization-tooltip-item > span{
  height: 32px;
  font-size: 22px;
  text-align: center;
  line-height: 32px;
  border-bottom: 1px #000 dotted;
}


.google-visualization-tooltip-item p {

  text-align: right;
  width: 320px;
  padding-left: 5px;
  font-size: 16px;
  margin: 0;
  font-family: Georgia, Verdana, Arial, sans-serif;
//  color: #2a5a85;
}

.google-visualization-tooltip{
  color: #2a5a85;
//  text-align: right;
  z-index: 2;
}

.statistic-label > p {
  margin: 0;
  font-family: Georgia, Verdana, Arial, sans-serif;
}

.myCustomClass {
  height: 32px;
  font-size: 16px;
  text-align: center;
  line-height: 32px;
  border-right: 1px solid #ccc;
}
.myCustomClass span{
  bottom: -32px;
  position: relative;

}

.myCustomClass:last-child {
  border-right: none;
}

.statistic-label span {
  color: grey;
}

//.ui-rangeSlider-rightHandle > .ui-rangeSlider-handle-inner:before{
//  content: "\e072";
//  color: #fff;
//}
.ui-rangeSlider-rightHandle > .ui-rangeSlider-handle-inner:before{
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  font-size: 9px;
  margin: auto;
  padding-right: 0.5em;
  position: absolute;
  top: 14px;
  left: 0;
}
.ui-rangeSlider-leftHandle > .ui-rangeSlider-handle-inner:before{
  content: "\e079";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  font-size: 9px;
  padding-right: 0.5em;
  position: absolute;
  top: 14px;
  left: 0px;
}

