<div class="statistic-label" >
    <!--<h5>{{datum}}</h5>-->
    <p><span>{{ 'auction_calls' | translate}}</span> {{visits}}</p>
    <p><span>{{'explicit_visitors' | translate}}</span> {{visitors}}</p>
    <p><span>{{'Visitors_calls_1' | translate}}</span> {{oneClick}}</p>
    <p><span>{{'Visitors_calls_1_more' | translate}}</span> {{moreClicks}}</p>
    <p><span>{{'gallery_klicks' | translate}}</span> {{clicksGallery}} ({{traffic}} %)</p>
    <!--<p><span>{{'gallery_traffic' | translate}}</span> {{traffic}} %</p>-->
</div>