<div style="margin-left:12%; margin-right: 12%; position: relative; margin-bottom: -100px; z-index: 1">
    <div class="btn-group" style=" width: 100%;">
        <div sf-slider="sliderConfig" range="selectedRange" prev-text="{{selectedYear-1}}"
             next-text="{{selectedYear+1}}"></div>
    </div>
</div>

<div style="height: 100%;">
    <div google-chart chart="chart" style="height: calc(100% - 100px); width:100%; padding-top: 100px" on-ready="chartReady()"></div>
</div>
